# Discord Configuration
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=

# Auth Configuration
NEXTAUTH_URL=http://62.77.156.58:8739
NEXTAUTH_SECRET=
JWT_SECRET=
APP_URL=

# Database Configuration (if applicable)
DATABASE_URL=
